*{
  margin:0;
}
.app{
  background-color: #fafafa;
  height:100vh;
}
.app__header{
  position:sticky;
  top:0;
  z-index:1;
  background-color:white ;
  padding:20px;
  border-bottom: 1px solid lightgrey;
  display:flex;
  justify-content: space-between;
  
}
.app__headerImage{
  object-fit: contain;
}
.app_posts{
  padding:20px;
  
}
.app__signup{
  display:flex;
  flex-direction: column;
  text-align: center;
}